/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/





body {
  font-family: "Philosopher",serif;
  margin: 1rem  6rem 1rem 6rem !important;
  font-size: 1.0em;
}



/*
  having a line between each element section
*/

.element {
  padding-bottom: 3rem;
  margin-left: 20px;
}


/** 
  heading and body styles
**/

h1{
  font-size: 3rem !important; /** 3times bigger than regular 1.0em **/
  margin-bottom: 1rem;
  
  }

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2:not(.specialH2){
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  

}


h2.specialH2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  margin-top: 10px;
  max-width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-size: 16px;
}

.biggerP{
font-size: 24px;
font-weight: normal;
margin-bottom: 16px;
margin-top: 16px;
}

.brandH1{

  margin-bottom: 0;
}
/** 
  in text link interaction
**/

.intextLink{
  
  text-decoration: none;
  color: #8C5EF6;
}

.intextLink:hover,
.intextLink:focus {

  text-decoration: underline;
  color: #8C5EF6;
}


  /* main nav style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.logo img {
  height: auto;
  width: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 24px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #8C5EF6;
}

 /* top nav style */

nav a:hover {
  text-decoration: none;
  color:#8C5EF6;
}
nav a:focus{
  text-decoration: none;
  color:#8C5EF6;

}

nav ul li.active a {
  color: #8C5EF6;
}

/** 
  Task 4: Add a different hover and focus state styling to the image as a link.
  Source: from lab tutorial May 25
**/

img:hover:not(.non-hoverable), img:focus:not(.non-hoverable){
transform: scale(1.1);

}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/** radio with label **/
.radioGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  
}

.radioGroup label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
}

.radioGroup input[type="radio"] {
  margin-right: 5px;
}



/** \ Style the <input> and <label> source: https://learn.shayhowe.com/html-css/building-forms/ **/

.input-container {
  display: flex;
  flex-direction: column;
}
.input-container input[type="text"] {
  resize: vertical ;
  border-radius: 5px ;
  border: 1px solid gray ;
  max-width: 400px ;
  
}

input[type="text"]:hover, input[type="text"]:focus{
  border: 2px solid #8C5EF6 ;
}

.input-container #username {
 
  font-weight: bold ;
  color: black ;
}
/* 
  INTERACTIVE ELEMENTS -------------------
*/



/* Styling for the navigation button */

.submit:hover, .submit:focus {
  opacity: 0.7;
}

.submit{
  background-color: #8C5EF6;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;

}

.reset{
  background-color: white;
  color: #8C5EF6;
  padding: 10px 40px;
  border: 2px solid #8C5EF6;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;

}
.reset:hover, .reset:focus {
  opacity: 0.7;
}




/* 
  COMBINED ELEMENTS ------------------
*/


/* 
  Product list ELEMENTS -------------------
*/
.productCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.productCard{
  
  border: 1px solid #909090;
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  border-radius: 5px;

}


.price {
  color: #7F7F7F;
  margin: 0px;
  max-width: 100%;
}

.productText{
  margin: 16px;
  max-width: 100%;
}

.productCard .submit{
  margin-bottom: 24px;
  margin-top:auto;
}

.centered-button {
  text-align: center;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Optional, to center vertically as well */
}

/**Payment form style**/

.expiry-cvv-container {
  display: flex;
  justify-content: space-between;
}

.expiry-container,
.cvv-container {
  width: calc(50% - 5px);
}

.expiry-container label,
.cvv-container label {
  display: block;
  margin-bottom: 6px;
}

input[type=text] {
  color: black;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #8C5EF6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.PaymentForm {
  border-radius: 5px;
 
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;

  border:1px solid #7F7F7F;
  margin-bottom: 32px;
  margin-left:0px;
}




/* Colors
// ---------------------*/
.color-1 {background: black;} 
.color-2 {background: white; border: 1px solid #7F7F7F;} 
.color-3 {background: #8C5EF6;} 
.color-4 {background: #7F7F7F;}



ul#colors {
  width: 50%; 
  position: relative; 
  padding-top: 30px; 
  margin: 0 auto; 
  margin-bottom: 75px; 
  text-align: center; 
  list-style: none;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}


li.colorCircle { 
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  display: flex; 
  align-items: center;
  display: inline-block; 
  justify-content: center;
  margin-right: 32px;}

.colorHex { 
  position: relative; 
  color: black; 
  top: 120px; 
 
  
  white-space: nowrap;
}

.colorHex p{
  text-align: center;
  line-height: 10px;
}

  /** Check out cart**/

  .wholecart{
    overflow: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    
  }
  .CartContainer{
    width: 70%;
    height: auto;
    background-color: #ffffff;

    
      
  }
  
  .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
   justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #909090;
   
  }
  
  .Heading{
    color: black;
    margin-top: 16px !important;
    margin-bottom: 24px !important;
    
  }
  
  .Action{
    font-size: 14px;
    color: #7F7F7F;
    cursor: pointer;
   
  }
  
  .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 1px solid #909090;
  }

  .image-box{
    
    text-align: left;
  }

  .image-box figure {
    margin-left: 0;
  }

  .about{
    height: 100%;
    width: 50%;
  }

  .about p{
    color: #7F7F7F;
  }

  .title{
    color: black;
    margin: 0 !important;
  }

 
 
  
  .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: black;
    cursor: pointer;
  }
  .count{
    font-size: 20px;
   
    font-weight: 600;
    color: black;
  }
  
  .prices{
    height: 100%;
    text-align: right;
  }

  .amount{
    padding-top: 20px;
    font-weight: bold;
    color: black;
  }
  .amount p{
    font-size: 24px !important;
    margin: 0;
    
  }

  .save{
    padding-top: 5px;
    font-size: 14px;

    font-weight: 600;
    color: #8C5EF6;
    cursor: pointer;
  }
  .remove{
    padding-top: 5px;
    font-size: 14px;
    color: #7F7F7F;
    cursor: pointer;
  }
  
  .pad{
    margin-top: 5px;
    
  }
  
  .leftCol{
    width: 50%;
display: flex;
align-items: center;

  }

  .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
    margin-bottom: 50px;
  }
  .total{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  
  }

  .Subtotal{
    font-size: 22px;
    
    font-weight: 700;
    color: black;
  }
  
  .btnCheck{
    display: flex;
    justify-content: space-between;
  }

  .items p {
    color: #909090;
    margin-top: 5px;
    line-height: 10px;
  }
  .total-amount{
    
    color: black;
  }
  .total h2{
    margin: 0;
  }



  /**image flexbox**/
  .imageContainer {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap:24px;
  }
  
  .imageContainer img {
    flex: 1;
  }
  

  /** Contact page style **/


  .contact-container {
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    gap:80px;
  }

  .contact-container h4{

    margin-bottom: 0;
  }
  

  .ContactForm {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .image-container {
    flex: 1;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .ContactForm textarea {
    color: black;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


 /** Login page style **/

 .loginSec{

  display: flex;
  justify-content: center;
  align-items: center;

 }
  .loginForm{
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    
    background-color: #ffffff;
    margin-bottom: 64px;
  }
  
  .loginForm h1{

    text-align: center;
    margin-bottom: 32px;
  }

  .loginForm input[type="submit"] {
    width: 600px;
  }

   /** footer **/

  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
   
    background-color: #fff;
    border-top: 1px solid #7F7F7F;
    justify-content: space-between;
  }
  
  /** 
  .footer > * {
    flex:  1 100%;
  }
  **/

  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .subBox{
    display: flex;
    gap:16px;
    flex-direction: row;
    align-items: baseline;
  }
  .subBox .submit{
    height: 42px;
  }

  .subBox input[type=text]{
    width: 280px;
  }


.legal p{
  font-size: 14px;
  color: #7F7F7F;
}
  

  
  .nav__title {
    font-size: 18px;
    font-weight: bold;
  }

  

  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    gap: 32px;
  }
  
  .footer__nav > * {

    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: black;
  }


  .ft-social-list {
    display: flex;
    gap:40px;
    margin: 0;
   
  }
  .ft-social-list li {
    margin-right: 0.5rem;
    font-size: 1.75rem;
  
  }

  .ft-social-list a{
    color: #7F7F7F;

  }
  
  /**homepage style**/
  .container{
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    gap:80px;
    align-items: center;
    justify-content: space-between;
  }



  .box2 H1 {

    font-size: 64px !important;
  }

  .box2 p{
    font-size: 20px;
    line-height: 32px;
  }
  .box2{
  flex:1;
  
  }

 

  .image-wrapper {
    display: grid;
    grid-row:    1;
    grid-column: 3 ;
    grid-auto-flow: 0;
    gap: 20px;
    order: -1;
  }
  .thumbnail {
    display: grid;
    grid: row 1px;;
    grid-column: 1 / 4 ;
  }

  .line {
    width: 40rem;
  }
  .box1 {
    display: grid;
    grid-template-columns: 30rem 200px;
    grid-template-rows: 100px 100px;
    gap: 2.5rem;
  }


  /** balcony magazine info design**/
  .figure {
    display: flex;
    gap: 1rem;  
  }
  
  .figure-image {
    flex: 1;
  }
  
  .figure-figcaption {
    flex: 2;
  }

  .magazinecontainer {
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    gap:42px;

  }

  .productDetail{
flex:1;
  }
  .productDetail h4{
    color:black;

  }

  
   /** About Page Hero Selection**/
  .aboutHero{
    margin-top: 64px;
  }

  .aboutHero img{
margin-top: 32px;
  }
  /** About Page Magazine Selection**/
  .magaSec{
 margin-top: 64px;
 margin-bottom: 64px;
  }

  .magaList{
    display: flex;
   
  }
  
  .magaItem {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }
  .magaSec h2{
    margin-bottom: 0;
  }

  .magaItem h4{
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .magaItem li {
    /* Add any additional styling for list items here */
    line-height: 2;
  }

  .magaItem a{

    text-decoration: none;
    color: black;
  }

  .magaItem a:hover,   .magaItem a:focus{

    color: #8C5EF6;
  }

  /**payment page**/
 
  .payment-container{
    margin-top: 20px;
    display: flex;
    gap: 60px;
  }

  .payBts{
    display: flex;
    gap:24px;
    margin-bottom: 64px;
  }
  .thanks{
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
    /** responsive **/
    @media screen and (max-width: 600px) {
      .productCardContainer {
        flex-direction: column;
      }
      
      .productCard {
        margin-bottom: 32px;
      }

      .magaList{
        display: flex;
        flex-flow: column wrap;
      }


      /* Mobile styles 
.toggle-input {
  display: none;
}

.toggle-label {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: none;
}

.toggle-input:checked ~ .menu {
  display: flex;
  flex-direction: column;
}

.toggle-input:checked ~ .menu li {
  margin: 10px 0;
}

.toggle-input:checked ~ .menu li a {
  color: #333333;
}

.toggle-label:focus {
  outline: none;
}
*/

  
       
    }
  
    .hover01 figure img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .hover01 figure:hover img {
      -webkit-transform: scale(1.3);
      transform: scale(1.1);
    }